<div id="new-todolist">
<%= form_for (@todolist), :remote => true do |f| %>

<div class="form-title">
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>
<div class="form-description">
	<%= f.label :description %>
	<%= f.text_area :description %>
</div>
 
<button id="button" type="submit" class="btn btn-primary btn-lg center-block" >
New todolist
</button>

<% end %>

</div>